.chord-background {
  background-image: url('./bg_chords.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.docs-container {
  padding-top: 50px;
}
